@media (min-width: 320px){
    .wrapper{
        max-width: 320px;
        margin: 0 auto;
        width: 100%;
    }
    .page-header{
        height: 540px;
    }
    .bottom-button{
        width: 280px;
    }
}
@media(min-width: 768px){
    .wrapper{
        max-width: 768px;
        margin: 0 auto;
        width: 100%;
    }
    .page-header{
        height: 700px;
        padding: 46px 73px 0;
    }
    .page-header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 160px;
    }
    .bottom-heading{
    font-size: 24px;
    margin-bottom: 35px;
    }
    .logo{
        order:1;
    }
    .header-nav-buttons{
        order:2;
    }
    .header-heading{
        margin-bottom: 40px;
        font-size: 52px;
    }
    .people{
        padding-top: 72px;
    }
    .section-heading{
        margin-bottom: 32px;
    }
    .section-list{
        width: 490px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .section-list-item:nth-child(2){
        order:1;
    }
    .section-list-item:nth-child(4){
        order:2 ;
    }
    .bottom-button{
        width: 193px;
        margin-bottom: 40px;
    }
}
@media(min-width:1440px){
    .wrapper{
        max-width: 1440px;
        margin: 0 auto;
        width: 100%;
    }
  .page-header{
      padding-top: 38px;
      padding-left: 250px;
      padding-right: 250px;
}
    .header-heading{
        padding: 0 164px;
    }
    .main-header-button{
        width: 225px;
    }
    .section-list{
        width: 950px;
        display: flex;
        justify-content: space-between;
    }
}
@media(min-width: 320px) and (max-width: 767px){
    .page-header-nav{
        padding-top: 20px;
    }
    .logo{
        margin-bottom: 38px;
    }
    .nav-button{
        margin-bottom: 115px;
    }
    .header-heading, .bottom-heading{
        margin-bottom: 18px;
    }
    .people{
        padding-top: 70px;
    }
    .section-heading{
        margin-bottom: 15px;
    }
    .section-list-item{
        margin: 0 auto 29px;
    }
    .bottom-button{
        margin-bottom: 56px;
    }

}
@media (min-width: 768px) {
    .section-list-item:nth-child(-n+2){
        margin-bottom: 50px;
    }
    .main-header-button{
        width: 224px;
    }
}
